# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# SAM / CloudFormation
.aws-sam/
samconfig.toml
packaged.yaml

# Entorno
venv/
env/
ENV/
.env
env.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
